# Database Configuration
MYSQL_ROOT_PASSWORD=Nitin@2004
MYSQL_DATABASE=movieticket

# Gmail SMTP Configuration
SPRING_MAIL_USERNAME=nitindiwewar0@gmail.com
SPRING_MAIL_PASSWORD=hddygbsicnmqvuun

# TMDB API Key
TMDB_API_KEY=e01d0966ebcead42f3a3bec84c24b41d

# Razorpay Payment Gateway Credentials
RAZORPAY_KEY_ID=rzp_test_TJJY5Q4lsHDjQL
RAZORPAY_KEY_SECRET=wcoypHqN2jd0V23A5y3dweV8

# Fast2SMS OTP API Key
FAST2SMS_API_KEY=gNDESxRv5IHj37KGeBFCdcuYXslOq4n8k1btUTVaM9frph6zLPlcdEiPUoNu5DxmJfXhpV8OegtBRkTS
