# Dependencies
**/node_modules/
frontend/node_modules/

# Production Builds
**/dist/
frontend/dist/
**/target/
backend/target/

# Logs
*.log
**/logs/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# Environment Variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
